/*  */
@import url("sobre-mi.css");
@import url("contacto.css");
@import url("curriculum.css");
@import url("mis-proyectos.css");
@import url("redes-sociales.css");
@import url("testimonios.css");

/* fuentes */
@font-face {
  font-family: "Poppins";
  src: url("../font/poppins/Poppins-Medium.ttf");
}
@font-face {
  font-family: "lora";
  src: url("../font/lora/Lora-Regular.ttf");
}


/* Entrega 6 */


 body header {
  position: fixed;
  
  min-width: 100%;
  z-index: 100;
  margin-top: -10em;
}

body article{
   margin-top: 10em; 
}

#contenido{
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    

}

#migas-pan-buscador{
  /* border: brown 1px solid; */
  z-index: 20;
  /* color: black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    align-items: center;
    width: 100%;
  /* position: fixed; */
  margin: 0 2em;
  height: 4em;
  
}
 
#migas-pan{
  /* border: brown 1px solid; */
  margin: 0 2em;
}
#buscador{
   display: flex;
  flex-direction: row; 
  /* border: brown 1px solid; */
  margin: 0;
  justify-content: center;
    align-items: center;
    margin: 0 2em;
    justify-content: center;
    

}


#boton-buscar{
  margin-top: 3em;
  border: #1e5128 1px solid;
   margin-left: 0em; 
}
#form-buscar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

}
#datos-contacto{
  display: none;
}
iframe{
  page-break-before:always;
  display: block;
}

#migas-pan a{
  color: #1e5128;
}
#migas-pan a:hover{
  
  text-decoration:underline;
 
 
}
#migas-pan a:hover:after {
  left: 0;
  }

/* ------------------------------------------------------------------- */


#logo-git{
  width: 16em;
}
body .h1index{

  color: #d8e9a8;
  text-shadow: 1px 4px 4px #1e5128;
}
/* poner el foco al tabular para la accesibilidad */

:focus {
  color: #1e5128;
  background-color: #d8e9a8;
  padding : 0.5em;  
  border: #000000 3px solid;
  box-shadow:0 0   0 5px #4e9f3d;
  border-radius: 10px;
}


/* animacion elementos menu */
@keyframes aparecerlogo {
  from {
    width: 0em;
  }
  to {
    width: 12em;
  }
}

/* animacion footer */
@keyframes redes-footer {
  from {
    top: -75em;
  }
  to {
    top: 0px;
  }
}

#redes ul li img {
  width: 2em;
  background-color: #1e5128;
  border-radius: 10px;
  position: relative;
  animation-name: redes-footer;
  animation-duration: 20s;
}

/* UD4-T4. Elementos interactivos */

/* details  {
  padding: 4px;
  width: 200px;
  border: 3px solid #1e5128;
  border: none;
  box-shadow: 0px 0px 10px #1e5128;
  cursor: pointer;
  
} */

summary {
  color: black;
}


summary::before{
  margin-left: -2em;
  position: absolute; 
  content: "➞";
}

details[open] summary::before {
  animation: rotate-emoji 0.6s ease-in-out both;
}

@keyframes rotate-emoji {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

/* dialog */

#show, #close {
  width: 10em;
  position: relative;
  left: -10em;
}

dialog {
  z-index: 2;
  background-color: #d8e9a8;
  border: 3px solid #1e5128;
  border-radius: 3em;
}
/* ------------------ */

/* reseteo página */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  /* display: block; */

  font-family: lora;
}
html{
  background-color: #1e5128;

}
/* body */
body {
  min-width: 60em;
}
/* ------------------------------------- */

/* cabecera */
header {
  background-color: #4e9f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10em;
}

#logo {
  animation-name: aparecerlogo;
  animation-duration: 4s;
  width: 12em;
  margin-left: 3em;
  transition: width 2s;
}

#logo:hover {
  width: 15em;
}

ul {
  display: flex;
}

/* ------------------------------------- */

/* menu */
#enlacesmenu {
  display: flex;
}
ul li {
  margin: 0px 1em;
}

li a {
  color: #d8e9a8;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.2em;
  font-family: Poppins;
}

#enlacesmenu li a:hover {
  color: #1e5128;
  background-color: #d8e9a8;
  border-radius: 0.2em;
  
  font-size: 1.5em;
  border: 1px solid black;
  box-shadow: 5px 10px black;
  transition: 1.5s;
}

#menu {
  background-color: #1e5128;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 15px;
  height: 4em;

  display: flex;
  align-items: center;
  margin-right: 2em;
}

#redes,
#copyright {
  margin: 0em 1em;
  font-family: lora;
}



/* menu hamburguesa */
#menu-hamburguesa {
  display: none;
}
 
#menu-hambur {
  display: none;
}

#hamburguesa {
  display: none;
}

#hamburguesa img {
  width: 3em;
}

/* footer */

footer {
  background-color: #1e5128;
  color: #d8e9a8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
  min-width: 101%;
}

/* ---------------------------- */

/* index */
#inicio {
  min-width: 60em;
}
img#principal {
  height: 45em;
}

.h1index {
  color: #1e5128;
  margin-top: 15px;
  font-family: Poppins;
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  text-shadow: 1px 4px 4px rgba(78, 159, 61, 2);
  font-weight: bold;
  flex-wrap: nowrap;
}

span {
  font-weight: bold;
}

/* ------------------------------------- */

/* contenido general */

#titulo {
  margin-top: 2em;
  margin-left: -14em;
  /* text-decoration: underline; */
  font-size: 1.7em;
  font-family: Poppins;
}

article {
  background-color: #d8e9a8;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e5128;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img:hover {
  filter: grayscale(100%);
}

/* Video cabecera */

#video {
  position: absolute;
  width: 153.1%;
  height: 100%;
  object-fit: cover;
  margin-top: -0.06em;
  z-index: -100;
  filter: grayscale(0.2);
}

#article-index,
#index {
  filter: opacity(1);
}
